/LucidFlow/Debug/*.log
/LucidFlow/Debug/LucidFlow.tlog/*.tlog
/LucidFlow/Debug/LucidFlow.tlog/*.lastbuildstate
/LucidFlow/Debug/LucidFlow.tlog/*
/LucidFlow/Debug/*.idb
/LucidFlow/Debug/*.pdb
/LucidFlow/*.opensdf
/LucidFlow/*.sdf
/LucidFlow/*.suo
/LucidFlow/x64/Release/*.exe
/LucidFlow/x64/Release/*.log
/LucidFlow/x64/Release/*.pdb
/LucidFlow/x64/Release/LucidFlow.tlog/*.tlog
/LucidFlow/x64/Release/LucidFlow.tlog/*.lastbuildstate
/LucidFlow/x64/Release/*.obj
/LucidFlow/viz
/LucidFlow/dump.dat
/LucidFlow/LucidFlow.vcxproj.user
/LucidFlow/x64/Debug/*.obj
/LucidFlow/x64/Debug/*.exe
/LucidFlow/x64/Debug/*.ilk
/LucidFlow/x64/Debug/*.log
/LucidFlow/x64/Debug/*.pdb
/LucidFlow/x64/Debug/LucidFlow.tlog/*.tlog
/LucidFlow/x64/Debug/LucidFlow.tlog/*.lastbuildstate
/LucidFlow/x64/Debug/*.idb
/LucidFlow/x64/Release/LucidFlow.tlog/unsuccessfulbuild
/datasets/testA/CSV
/datasets/testA/FCS
/datasets/HIV-FlowCAP4/CSV/*.csv
/datasets/HIV-FlowCAP4/*.pdf
/datasets/HIV-FlowCAP4/DAT/*.dat
/datasets/HIV-FlowCAP4/FCS/*.fcs
/datasets/HIV-FlowCAP4/*.csv
/datasets/HIV-FlowCAP4/*.zip
/datasets/HIV-FlowCAP4/info/*.txt
/CaffeEval/*.opensdf
/CaffeEval/*.sdf
/CaffeEval/*.suo
