/LucidFlow/Debug/*.log
/LucidFlow/Debug/LucidFlow.tlog/*.tlog
/LucidFlow/Debug/LucidFlow.tlog/*.lastbuildstate
/LucidFlow/Debug/LucidFlow.tlog/*
/LucidFlow/Debug/*.idb
/LucidFlow/Debug/*.pdb
/LucidFlow/*.opensdf
/LucidFlow/*.sdf
/LucidFlow/*.suo
/LucidFlow/x64/Release/*.exe
/LucidFlow/x64/Release/*.log
/LucidFlow/x64/Release/*.pdb
/LucidFlow/x64/Release/LucidFlow.tlog/*.tlog
/LucidFlow/x64/Release/LucidFlow.tlog/*.lastbuildstate
/LucidFlow/x64/Release/*.obj
/LucidFlow/viz
/LucidFlow/dump.dat
/LucidFlow/LucidFlow.vcxproj.user
/LucidFlow/x64/Debug/*.obj
/LucidFlow/x64/Debug/*.exe
/LucidFlow/x64/Debug/*.ilk
/LucidFlow/x64/Debug/*.log
/LucidFlow/x64/Debug/*.pdb
/LucidFlow/x64/Debug/LucidFlow.tlog/*.tlog
/LucidFlow/x64/Debug/LucidFlow.tlog/*.lastbuildstate
/LucidFlow/x64/Debug/*.idb
/LucidFlow/x64/Release/LucidFlow.tlog/unsuccessfulbuild
/datasets/testA/CSV
/datasets/testA/FCS
/datasets/HIV-FlowCAP4/CSV/*.csv
/datasets/HIV-FlowCAP4/*.pdf
/datasets/HIV-FlowCAP4/DAT/*.dat
/datasets/HIV-FlowCAP4/FCS/*.fcs
/datasets/HIV-FlowCAP4/*.csv
/datasets/HIV-FlowCAP4/*.zip
/datasets/HIV-FlowCAP4/info/*.txt
/CaffeEval/*.opensdf
/CaffeEval/*.sdf
/CaffeEval/*.suo
/CaffeEval/x64/Release/caffeEval.exe
/CaffeEval/x64/Release/caffeEval.log
/CaffeEval/x64/Release/caffeEval.pdb
/CaffeEval/x64/Release/caffeEval.tlog/CL.read.1.tlog
/CaffeEval/x64/Release/caffeEval.tlog/CL.write.1.tlog
/CaffeEval/x64/Release/caffeEval.tlog/caffeEval.lastbuildstate
/CaffeEval/x64/Release/caffeEval.tlog/cl.command.1.tlog
/CaffeEval/x64/Release/caffeEval.tlog/link.command.1.tlog
/CaffeEval/x64/Release/caffeEval.tlog/link.read.1.tlog
/CaffeEval/x64/Release/caffeEval.tlog/link.write.1.tlog
/CaffeEval/x64/Release/caffeEval.tlog/unsuccessfulbuild
/CaffeEval/x64/Release/caffeEval.vcxprojResolveAssemblyReference.cache
/CaffeEval/x64/Release/mLibSource.obj
/CaffeEval/x64/Release/vc120.pdb
/CaffeEval/x64/Release/main.obj
/CaffeEval/x64/Release/networkProcessor.obj
/CaffeEval/dumpA.txt
/CaffeEval/dumpB.txt
/CaffeEval/netAfter0/dataA.txt
/CaffeEval/netAfter0/dataB.txt
/CaffeEval/netAfter0/ip1.txt
/CaffeEval/netAfter0/ip2.txt
/CaffeEval/netAfter0/ip3.txt
/CaffeEval/netAfter0/ip4.txt
/CaffeEval/netAfter0/loss.txt
/CaffeEval/netAfter1/dataA.txt
/CaffeEval/netAfter1/dataB.txt
/CaffeEval/netAfter1/ip1.txt
/CaffeEval/netAfter1/ip2.txt
/CaffeEval/netAfter1/ip3.txt
/CaffeEval/netAfter1/ip4.txt
/CaffeEval/netAfter1/loss.txt
/CaffeEval/netAfter2/dataA.txt
/CaffeEval/netAfter2/dataB.txt
/CaffeEval/netAfter2/ip1.txt
/CaffeEval/netAfter2/ip2.txt
/CaffeEval/netAfter2/ip3.txt
/CaffeEval/netAfter2/ip4.txt
/CaffeEval/netAfter2/loss.txt
/CaffeEval/netAfter3/dataA.txt
/CaffeEval/netAfter3/dataB.txt
/CaffeEval/netAfter3/ip1.txt
/CaffeEval/netAfter3/ip2.txt
/CaffeEval/netAfter3/ip3.txt
/CaffeEval/netAfter3/ip4.txt
/CaffeEval/netAfter3/loss.txt
/CaffeEval/netAfter4/dataA.txt
/CaffeEval/netAfter4/dataB.txt
/CaffeEval/netAfter4/ip1.txt
/CaffeEval/netAfter4/ip2.txt
/CaffeEval/netAfter4/ip3.txt
/CaffeEval/netAfter4/ip4.txt
/CaffeEval/netAfter4/loss.txt
/CaffeEval/netAfter5/dataA.txt
/CaffeEval/netAfter5/dataB.txt
/CaffeEval/netAfter5/ip1.txt
/CaffeEval/netAfter5/ip2.txt
/CaffeEval/netAfter5/ip3.txt
/CaffeEval/netAfter5/ip4.txt
/CaffeEval/netAfter5/loss.txt
/CaffeEval/netBefore0/dataA.txt
/CaffeEval/netBefore0/dataB.txt
/CaffeEval/netBefore0/ip1.txt
/CaffeEval/netBefore0/ip2.txt
/CaffeEval/netBefore0/ip3.txt
/CaffeEval/netBefore0/ip4.txt
/CaffeEval/netBefore0/loss.txt
/CaffeEval/netBefore1/dataA.txt
/CaffeEval/netBefore1/dataB.txt
/CaffeEval/netBefore1/ip1.txt
/CaffeEval/netBefore1/ip2.txt
/CaffeEval/netBefore1/ip3.txt
/CaffeEval/netBefore1/ip4.txt
/CaffeEval/netBefore1/loss.txt
/CaffeEval/netBefore2/dataA.txt
/CaffeEval/netBefore2/dataB.txt
/CaffeEval/netBefore2/ip1.txt
/CaffeEval/netBefore2/ip2.txt
/CaffeEval/netBefore2/ip3.txt
/CaffeEval/netBefore2/ip4.txt
/CaffeEval/netBefore2/loss.txt
/CaffeEval/netBefore3/dataA.txt
/CaffeEval/netBefore3/dataB.txt
/CaffeEval/netBefore3/ip1.txt
/CaffeEval/netBefore3/ip2.txt
/CaffeEval/netBefore3/ip3.txt
/CaffeEval/netBefore3/ip4.txt
/CaffeEval/netBefore3/loss.txt
/CaffeEval/netBefore4/dataA.txt
/CaffeEval/netBefore4/dataB.txt
/CaffeEval/netBefore4/ip1.txt
/CaffeEval/netBefore4/ip2.txt
/CaffeEval/netBefore4/ip3.txt
/CaffeEval/netBefore4/ip4.txt
/CaffeEval/netBefore4/loss.txt
/CaffeEval/netBefore5/dataA.txt
/CaffeEval/netBefore5/dataB.txt
/CaffeEval/netBefore5/ip1.txt
/CaffeEval/netBefore5/ip2.txt
/CaffeEval/netBefore5/ip3.txt
/CaffeEval/netBefore5/ip4.txt
/CaffeEval/netBefore5/loss.txt
